:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;

  /*size*/
  --size-button: 50px;
  --size-font: 18px;
  --base-margin: 8px;
  --size-border: 4px;
  --size-thumbnail: 50px;

  /*animation*/
  --animation-duration: 300ms;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  cursor: pointer;
  transition: transform var(--animation-duration) ease;
}

.buttons {
  display: flex;
  align-items: center;
}

.btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform var(--animation-duration) ease;
  margin-right: var(--base-margin);
}

.logo:hover,
.btn:hover {
  transform: scale(1.1);
}

.imgBtn {
  width: var(--size-button);
  height: var(--size-button);
}

.colorBtn {
  font-size: var(--size-font);
  padding: calc(var(--base-margin) * 1.5);
  border-radius: var(--size-border);
}

.blue {
  background-color: var(--color-blue);
}
.yellow {
  background-color: var(--color-yellow);
}
.pink {
  background-color: var(--color-pink);
}

.items {
  /*ul*/
  width: 70%;
  height: 60%;
  list-style: none;
  padding-left: 0;
  overflow-y: scroll;
}

.item {
  /*li*/
  background-color: white;
  display: flex;
  align-items: center;
  padding: var(--base-margin);
  margin-bottom: var(--base-margin);
}

.item_thumbnail {
  width: var(--size-thumbnail);
}

.item_description {
  margin-left: var(--base-margin);
  font-size: var(--size-font);
}
